.showcase {
    background: url(../imagenes/showcase.jpg) no-repeat center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .caja2 {
    background: url('../imagenes/banner.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header .navbar {
    background-color: transparent !important;
  }
  a.nav-link{
    font-family: 'Allerta', sans-serif;
    width: 110px;
    font-weight: bold;
    color:#ffffff;
}

.container-fluid{
    display: flex;
    justify-content: flex-end !important;
}

#wrapper-texto-showcase p{
    font-family: 'Allerta', sans-serif;    
    font-size: 36px;
    text-align: center;
    line-height: 37px;
    letter-spacing: 0.75px;
    color: #ffffff;
    font-weight: bolder;
    padding: 0 20% 10% 20%;
}

.boton{
    font-family: 'Allerta', sans-serif;
    width: 200px;
    height: 60px;
    color: #EDDCA0;
    background-color:#354248;
}
.categories,.products{
    font-family: 'Allerta', sans-serif;
    color:#000000;
    text-align: center;
    font-size: 48px;
    letter-spacing: 0.75px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 40px;

}
.row.segundo{
    margin: 30px;
}
.card-body h5{
    font-family: 'Allerta', sans-serif;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0.75px;
    line-height: 36px;
    padding: 2%;
}

.card{
    background-color: #D9D9D9;
    border-radius: 15px;

}
.card-body{
    padding: 0%;
}
.img-fluid.one{
    border-radius: 15px;
}
.volante{
        margin-top: 20px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }
.texto2{
        
        color:#ffffff;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 24px;        
        line-height: 27.5px;
        letter-spacing: 1.25px;
        
    
}
.muestrario{
    width: 1094.76px;
    height: 1000px;
    margin-left: auto;
    margin-right: auto;
}
    
.card-body.dos{
    background-color:#ffffff ;
    border-radius: 0%;
}
.card-title1{
    background-color: #ffffff;
    font-size: 20px;
    font-family: 'Allerta', sans-serif;
    color:black;
    text-align: center;
    margin-top:10px;
}
footer{
    background-image: url(../imagenes/ojala.jpg);
    background-size:cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 20px;
}
.logofooter{
    height: 70px;
    width: 110px;
}
.final{
    font-size: 20px;
    text-align: center;
}
.datos{
    font-size: 16px;
    font-family: 'Roboto';
    margin-bottom: 5px;
    margin-top: 0px;

} 
.logo1{
    margin-top: 0px;
}

#wrapper-texto-showcase{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow:1;
}